### Wat kan ik voor je doen?
        
- :office: **Zoek naar bedrijven:** Vind bedrijven in verschillende sectoren en locaties.
- 📍 **Geomapping:** Ontvang een overzicht van de locaties waar de bedrijven die u zoekt zich bevinden.
- 🦋 **Waardeketenmapping:** :red[Coming soon...]
    
### Hoe te beginnen?

1. **Maak een account aan** of **log in** via de zijbalk.
2. Volg de eenvoudige instructies om je zoekopdrachten te starten.
3. Ontvang resultaten in enkele seconden.

### Waarom deze chatbot gebruiken?

- 💡 **Snelle en nauwkeurige informatie:** Bespaar tijd met snelle en relevante zoekresultaten.
- 📝 **Eenvoudige interactie:** Gebruiksvriendelijke interface met stapsgewijze begeleiding.
- 📡 **Externe data bronnen:** De chatbot maakt gebruik van meerdere databronnen en combineert de resultaten tot het optimale antwoord.

Begin nu om de kracht van 🍃 :orange[advAI]:green[CE] te ervaren! 🚀